{% extends "base_generic.html" %}

    {% block graph %}
    <div class="row">
            <div id="bar_employees" style="width:1000px; height:600px;"></div>
            <br> <br><br>

            <div id="pie_employees" style="width:450px; height:500px;"></div>

            <div id="pie_modern" style="width: 470px; height: 500px;"></div>

    </div>
        <br><hr>
        <div class="row">
            <div class="container">
                <a class="btn btn btn-secondary" href="{% url 'index' %}">
                  <i class="fas fa-cloud-download-alt mr-1"></i> Вернуться
                </a>
                <a class="btn btn btn-secondary col-2" style="margin-left:70%;"  href="{% url 'graph_2' %}">
                        <i class="fas fa-cloud-download-alt mr-1"></i> Далее &nbsp
                      </a>
            </div>
        </div>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <script type = "text/javascript">
            $(document).ready(function(){
                var endpoint = '/catalog/graph/1'
                var articleData = articleLabels = 0;
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    success: function(){
                        articleData = "{{ name_child|safe }}";
                        articleLabels = "{{ grade|safe }}"
                        articleData = articleData.substring(1, articleData.length - 1).split(", ");
                        articleLabels = articleLabels.substring(1, articleLabels.length - 1).split(", ");
                        bar();
                        pie();
                        pie_modern();
                    },
                    error: function(error_data){
                        console.log("error")
                    }
                });
                function bar(){
                    var data = [{
                        x: articleData,
                        y: articleLabels,
                        type: 'bar',
                        orientation: 'v',
                        marker: {
                            color: "#23b7e5",
                        },
                    }];
                    var layout = {
                        title: "Успеваемость учеников",
                    };
                    Plotly.newPlot('bar_employees', data, layout);
                };

                function pie(){
                    var data = [{
                        labels: articleData,
                        values: articleLabels,
                        type: 'pie',
                        marker: {
                            color: "#23b7e5",
                        },
                    }];

                Plotly.newPlot('pie_employees', data);
                };
                function pie_modern(){
            var data = [{
                r: articleData,
                t: articleLabels,
                name: 'grade: 1-5',
                marker: {color: 'rgb(230,200,230)'},
                type: 'barpolar'
                }];

              var layout = {
                title: 'Распределение по успеваемости',
                radialaxis: {ticksuffix: '%'},
                orientation: 270
              };

              Plotly.newPlot('pie_modern', data, layout);
                };
})
        </script>


    {% endblock %}
